.container {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content:flex-start;
    height: 250px;
    
    
  }
  .container > div {
    background-color:white;
    width: 350px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding: 0px;
  }
  
  p{
      font-size: 20px;
     font-family:cursive;
    color:black;
    letter-spacing: 0.4px;
    padding:6px;
    text-align:start;
   
  }
  .topic{
    font-size: 16px;
    letter-spacing: 0.1px;
  }
